<table class="table table-striped">
    <tr *ngFor="let person of persons" (click)="onSelect(person)" [class.active]="person === selectedPerson">
        <td>
            {{person.id}}
        </td>
        <td>
            {{person.name}}
        </td>
        <td>
            {{person.number}}
        </td>
        <td>
            {{person.comment}}
        </td>
        <td>
            <button type="button" class="btn btn-link" (click)="removePerson(person)">Удалить</button>
        </td>
    </tr>
</table>
<div class="btn-group">
    <button type="button" class="btn btn-link" (click)="addNewPerson()">Создать</button>
</div>
<div>
    <app-person-detail [person]="selectedPerson"></app-person-detail>
</div>