<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Comment</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let person of persons">
            <th scope="row">
                {{person.id}}
            </th>
            <td>
                {{person.name}}
            </td>
            <td>
                {{person.number}}
            </td>
            <td>
                {{person.comment}}
            </td>
            <td>
                <a routerLink="/detail/{{person.id}}">Edit</a> |
                <a href="javascript:void(0)" (click)="removePerson(person)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="btn-group">
    <button type="button" class="btn btn-link" (click)="addNewPerson()" class="btn btn-primary btn-lg">Create</button>
</div>